.currenciesBase {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000000;
    border: 2px solid #bbb;
    background-color: #4a4a4a;
}

.taskBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.addButton {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}

.hideButton {
    cursor: pointer;
    margin-left: auto;
    margin-right: 12px;
    margin-top: 7px;
    user-select: none;
    cursor: pointer;
}

.content {
    width: 100%; /* Set the desired width */
    height: calc(100% - 30px);
    /* line-height: 0.6em; */
    overflow: auto;
    box-sizing: border-box;
    margin-left: 5px;
}

.currency {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: none;
    position: absolute;
    right: 5px;
}

.currency:hover .buttons {
    display: flex;
    gap: 5px;
}

.editButton, .deleteButton, .exchangeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.editButton {
    color: #ceb04c;
}

.deleteButton {
    color: #f44336;
}

.exchangeButton {
    color: #4ba2e9;
}

