.dashboardContainer {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.dashboardContent {
  width: 10000px;
  height: 10000px;
  cursor: grab;
  transform-origin: 0 0;
  position: absolute;
}

.dashboardContent:active {
  cursor: grabbing;
}

.lightMode, .darkMode {
  background-size: var(--background-size);
  background-position: var(--background-position);
}

.lightMode {
  --background-color: #f0f0f0;
  --text-color: #000;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, transparent 1px);
}

.darkMode {
  --background-color: #1e1e1e;
  --text-color: #fff;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
}

.redDot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform-origin: center;
}

.shield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none; /* Ensure the shield does not capture pointer events */
  z-index: 2000; /* Ensure the shield is positioned above other dashboard content */
}

/* Define a CSS class to disable text selection */
.disable-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Webkit browsers */
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Apply the disable-select class to the window during dragging */
.dragging {
  cursor: move; /* Set cursor to indicate dragging */
  user-select: none;
}