.window {
    position: absolute;
    width: 300px;
    height: 200px;
    border: 2px solid #bbb;
    background-color: #4a4a4a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 500;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    resize: both;
}

.dragging {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    cursor: move; /* Set cursor to indicate dragging */
    user-select: none;
}

.resizing {
    cursor: nwse-resize; /* Set cursor to indicate resizing */
    user-select: none;
}

.taskbar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    background-color: #2f2f2f;
    border-bottom: 1px solid #aaa;
    cursor: grab;
    min-height: auto; /* Remove fixed height */
}

.title {
    flex-grow: 1;
    text-align: center; /* Center the title text */
    word-wrap: break-word; /* Allow long titles to break */
}

.bottomBar {
    display: flex;
    justify-content: space-between; /* Space between ID and dropdown */
    padding-top: 5px; /* Add some space between the title and bottom bar */
}

.id {
    align-self: flex-start; /* Align ID to the left */
}

.dropdownContainer {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Align dropdown to the right */
    
}

.dropdownButton {
    background-color: transparent;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    top: 100%;
    background: #585858;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.content {
    padding: 10px;
    overflow: auto;
    height: calc(100% - 30px); /* Adjust height to exclude taskbar */
}

.disable-select {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Webkit browsers */
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.dropdownMenu button {
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    color: white;
}

.dropdownMenu button:hover {
    background: #007bff;
}

.content {
  padding: 20px;
}

.resizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: nwse-resize;
}
