.resetButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000000; /* Ensure button stays on top */
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center the content */
}

.react-icons-md {
    font-size: 24px; /* Adjust the size as needed */
}