.sidebar {
    position: fixed;
    left: 55px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9000000;
    user-select: none;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    position: relative;
}

.openDropdown {
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.openDropdown:hover {
    background-color: var(--sidebar-hover-background-color);
    color: var(--sidebar-hover-text-color);
}

.openDropdown.active {
    background-color: var(--sidebar-active-background-color);
    color: var(--sidebar-active-text-color);
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: var(--sidebar-background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 40px;
}

.dropdownButton {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    white-space: nowrap;
}

.dropdownButton:hover {
    background-color: var(--sidebar-hover-background-color);
    color: var(--sidebar-hover-text-color);
}

.sidebar.lightMode {
    --sidebar-background-color: #f8f9fa;
    --sidebar-text-color: #000;
    --sidebar-hover-background-color: #e0e0e0;
    --sidebar-hover-text-color: #000;
    --sidebar-active-background-color: #c0c0c0;
    --sidebar-active-text-color: #000;
}

.sidebar.darkMode {
    --sidebar-background-color: #2c2c2c;
    --sidebar-text-color: #fff;
    --sidebar-hover-background-color: #444;
    --sidebar-hover-text-color: #fff;
    --sidebar-active-background-color: #666;
    --sidebar-active-text-color: #fff;
}

.dateTime {
    position: absolute;
    top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* Change to the color you want */
    font-size: 14px; /* Example styling */
}

.darkMode .dateTime {
    color: white; /* Change to the color you want in dark mode */
}

.lightMode .dateTime {
    color: black; /* Change to the color you want in light mode */
}
