.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11000000;
}

.popup {
  background: #2a2a2a;
  border-radius: 8px;
  width: 750px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.columns {
  flex: 1; /* Take remaining vertical space */
  overflow-y: auto; /* Make columns scrollable */
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%; /* Make the columns collectively take up 50% of the visible area */
  margin: 0 auto; /* Center the columns */
}

.columnBar {
  width: 60%;
  position: relative; /* Make sure the columns are positioned correctly */
  text-align: center; /* Center the headers in their columns */
  
}

.columnPrizes {
  width: 40%;
  position: relative; /* Make sure the columns are positioned correctly */
  text-align: center; /* Center the headers in their columns */
  border-left: #ccc solid 1px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
}

.label {
  margin-bottom: 8px;

}

.input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 12px; /* Adjust this to control spacing between inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
}

.rewardsBox {
  height: 406px; /* Set height of the rewards box */
  overflow-y: auto; /* Make it scrollable if content overflows */
  text-align: left;
  margin-left: 15px;
}

.rewardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  height: 50px; /* Fixed height for footer */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #ccc; /* Divider on top of the footer */
}

.cancelButton, .confirmButton {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton {
  background: #ccc;
}

.confirmButton {
  background: #007bff;
  color: white;
}